<h1>Hello Angular</h1>
<button (click)="monitorDevices()">Hello Cars</button>
<button (click)="devicePositions()">Hello Cars</button>
<br>

<!--<div class="card">-->
<!--  <div class="card-header">-->
<!--    <h3>Hello, World</h3>-->
<!--  </div>-->

<!--  <div class='card-body'-->
<!--       *ngIf="vm$ | async as vm">-->
<!--    <div class='list-group'>-->
<!--      <button type='button'-->
<!--              class='list-group-item'-->
<!--              *ngFor='let positions of vm.products'-->
<!--              [ngClass]="{'active': product?.id === vm.productId}"-->
<!--              (click)='onSelected(product.id)'>-->
<!--        {{ product.productName }} ({{ product.category }})-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
